# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

lib/
build/
scripts/cpplint.py

.cproject
.project
.pydevproject
Makefile
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
catkin_generated/
cmake_install.cmake
src/*.cxx
include/autocp/*.cxx
Testing/
